/Задание для курсового проекта.txt
/minmax.pkl
/rfr_model_minmax_16_210.pkl
/rfr_model_st_scaler.pkl
/st_scaler.pkl
/submission.csv
/submission_18_2000-Did.csv
/submission_19_210.csv
/submission_23_350.csv
/submission_cluster.csv
/submission_gb.csv
/submission_minmax.csv
